name: Run All Tests
on:
  pull_request:
    branches: [develop, staging]
    types: [opened, reopened, synchronize]
  workflow_dispatch:
jobs:
  info:
    name: Gather info for jobs
    timeout-minutes: 1
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.target_branch.outputs.branch }}
      env_name: ${{ steps.environment.outputs.name }}
    steps:
      - name: Get target branch
        run: echo "branch=${{ github.event.pull_request.base.ref }}" >> $GITHUB_OUTPUT
        id: target_branch

      - name: Get environment
        run: |
          env=dev
          if [ "${{ steps.target_branch.outputs.name }}" = "main" ]
          then
            env=prod
          fi
          echo "name=${env}" >> $GITHUB_OUTPUT
        id: environment

  test:
    name: Run tests
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [info]
    environment:
      name: ${{ needs.info.outputs.env_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node JS
        uses: actions/setup-node@v3
        with:
          node-version: ${{ vars.NODE_VERSION || 'latest' }}

      - name: Install dependencies
        run: |
          echo "::group::Yarn initial version"
          echo 'environment: ${{ needs.info.outputs.env_name }}'
          echo 'yarn version: $(echo yarn --version)'
          echo "::endgroup::"

          yarn set version ${{ vars.YARN_VERSION || 'latest' }}

          echo "::group::Yarn updated version"
          echo 'update yarn: ${{ vars.YARN_VERSION || 'latest' }}'
          echo 'updated yarn version: $(echo yarn --version)'
          echo "::endgroup::"

          yarn

      - name: Lint project
        run: npm run lint

      # TODO: fix playwright tests and add back into gh actions
      # - name: Install Playwright
      #   run: npx playwright install --with-deps

      - name: Run Jest
        run: npm run test:unit
      # - name: Run Playwright tests
      #   run: npm run test:e2e
